
.DS_Store
build
.git
*.egg-info
dist
output
data/coco
backup
weights/*.weights
weights/darknet53.conv.74
__pycache__
checkpoints*
.vscode
.virtual_documents
logs
environment
custom/
deepmtl-60
deepmtl-61
deepmtl*
*.ipynb_checkpoints
data/samples3*
data/samples4*